:host {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.court {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 1;
  background: rgb(193, 118, 23);
  border: 2px solid white;
  display: flex;
}

.court-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex: 1;
}

.court-cell {
  border: 0.5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  min-height: 80px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.player-slot {
  font-size: 2rem;
}

.libero {
  color: #ff4081;
}

.net {
  background-color: white;
  color: black;
  font-size: 0.75rem;
}
