<div class="d-flex flex-column w-100 h-100" style="max-width: 800px;">
  <div class="d-flex w-100 justify-content-center net">
    <span>Netz</span>
  </div>
  <div class="court flex-grow-1">
    <div class="court-grid position-relative">
      @if (gameService.gameState(); as state) {
        @for (pos of positions; track pos;) {
          <div class="court-cell" (click)="clickCourtCell(pos)">
            <div class="d-flex w-100 h-100 position-relative">
              <div class="d-flex w-100 h-100 flex-column">
                @if (state.rotation[pos-1]; as player) {
                  @if (player) {
                    <div class="justify-content-center d-flex align-items-center align-content-center w-100 py-2 player-slot" [ngClass]="{'libero': player.isLibero}">
                      <span style="height: fit-content; width: fit-content; font-size: 1rem;">{{ player.name }}</span>
                    </div>

                    @if (true) {
                      <div class="stats-buttons d-flex flex-wrap justify-content-center gap-1 align-content-around pb-3">
                        <button class="p-4" mat-mini-fab color="primary" (click)="track('hit', player)">H</button>
                        <button class="p-4" mat-mini-fab color="accent" (click)="track('kill', player)">K</button>
                        <button class="p-4" mat-mini-fab color="warn" (click)="track('attackError', player)">E</button>

                        @if (isFrontRow(pos-1)) {
                          <button class="p-4" mat-mini-fab color="primary" (click)="track('block', player)">B</button>
                        }
                      </div>
                    }
                  }
                }

                <span class="position-absolute" style="left: 4px; bottom: 4px; color: lightgray">{{ pos }}</span>
              </div>

            </div>
          </div>
        }
  <!--      @if (state.currentServer === 'home') {-->
  <!--        <div class="serve position-absolute" style="left: -32px; bottom: -32px;">-->
  <!--          <img src="serve.webp" height="64" alt=""/>-->
  <!--        </div>-->
  <!--        @if (state.rotation[0] && gameService.started()) {-->
  <!--          <div class="position-absolute" style="bottom: -4rem; ">-->
  <!--            <div class="d-flex flex-row gap-2">-->
  <!--              <button mat-fab color="primary" (click)="track('ace', state.rotation[0]!)">Ace</button>-->
  <!--              <button mat-fab color="warn" (click)="track('serveError', state.rotation[0]!)">Serve Error</button>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        }-->
  <!--      }-->
      }
    </div>
  </div>

</div>
