<ion-modal [trigger]="trigger()" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Welcome</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Enter your name"
          labelPlacement="stacked"
          type="text"
          [minlength]="1"
          placeholder="Your name"
          [(ngModel)]="playerModel().name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Enter your Player number"
          labelPlacement="stacked"
          type="number"
          placeholder="Your number"
          (invalid)="numberInvalid()"
          errorText="Please enter a valid number"
          [(ngModel)]="playerModel().number"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="playerModel().position" label="Position" label-placement="floating">
          <ion-select-option [value]="PlayerPosition.MiddleBlocker">{{PlayerPosition.MiddleBlocker}}</ion-select-option>
          <ion-select-option [value]="PlayerPosition.Libero">{{PlayerPosition.Libero}}</ion-select-option>
          <ion-select-option [value]="PlayerPosition.OppositeHitter">{{PlayerPosition.OppositeHitter}}</ion-select-option>
          <ion-select-option [value]="PlayerPosition.OutsideHitter">{{PlayerPosition.OutsideHitter}}</ion-select-option>
          <ion-select-option [value]="PlayerPosition.Setter">{{PlayerPosition.Setter}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
